* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", "Segoe UI", Helvetica, Tahoma, Geneva, Verdana,
    sans-serif;
}

/* html {
  font-size: 0.95em !important;
} */

body {
  width: calc(100vw - (100vw - 100%));
  max-width: calc(100vw - (100vw - 100%));
}

.appbar-title {
  padding-left: 0.5em;
  color: #333;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  grid-auto-columns: 1fr 50px;
}

.appbar-title .app-name {
  font-weight: 600;
  font-size: 1.3em;
  justify-self: start;
  font-family: "Nunito";
}

.appbar-title .btn-collapse .icon {
  font-size: 1.2em !important;
}

*:focus {
  outline: none;
}

.disableCursor {
  cursor: not-allowed !important;
}

.disablePointerEvents {
  pointer-events: none !important;
}

.MuiBox-root {
  padding: 1em 0.5em !important;
}

.shadow-sm {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.shadow-default {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.shadow-inner {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.MuiSelect-root {
  font-size: 0.87em !important;
}

.checkbox-label {
  font-size: 0.75em !important;
  font-weight: 500 !important;
}

.data-group {
  display: grid !important;
  grid-gap: 0.2em !important;
  align-items: start;
  align-content: start;
}

.data-group-label {
  font-size: 0.75em !important;
  font-weight: 600 !important;
}

.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
  font-size: 0.8em !important;
  line-height: unset !important;
  font-family: Nunito !important;
  letter-spacing: 0.3pt;
  word-spacing: 0.3pt;
}

.PrivateSwitchBase-root-1 {
  padding: 3px !important;
}

.user-pages-table .MuiTableCell-root {
  background-color: #fff !important;
}

a {
  color: #0d47a1 !important;
  text-decoration: none !important;
  font-weight: "Nunito" !important;
}

tr th {
  font-weight: 900 !important;
  font-weight: Nunito !important;
  font-size: 0.73em !important;
  padding-top: 0.8em !important;
  padding-bottom: 0.8em !important;
  color: black;
  background-color: #fff !important;
}

/* tr:nth-child(even) {
  background-color: #f2f2f2 !important;
}

tr td {
  color: black !important;
} */

.empty-rows {
  color: orangered;
  font-size: 1.3em;
  font-family: Nunito !important;
  padding: 0.3em;
  font-weight: 500;
  word-spacing: 0.3pt;
  letter-spacing: 0.3pt;
}

.clinic-adding-form {
  display: grid !important;
  grid-gap: 2em !important;
}

.box-ctnr {
  display: grid;
  align-content: start;
  align-items: start;
  grid-gap: 1em;
}

.box-ctnr .box-header {
  align-self: start;
  padding: 0.5em;
  border-bottom: 0.2em solid rgba(0, 0, 0, 0.1);
  font-weight: 600;
}

.box-ctnr .box-header .box-body {
  align-self: start;
}

.vertical-radio-button {
  display: grid !important;
  grid-auto-flow: column !important;
  grid-gap: 1em !important;
  justify-items: start !important;
  justify-content: start !important;
}

.form-label {
  padding: 0.7em 0;
  border-bottom: 0.15em solid rgba(0, 0, 0, 0.1);
  width: 100%;
  /* margin-bottom: 1em; */
}

::placeholder {
  font-size: 0.87em !important;
  font-weight: 400 !important;
}

.table-actions {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1em;
  justify-content: end;
  justify-items: end;
  align-content: center;
  align-items: center;
  padding-bottom: 0.5em;
}

.table-header {
  width: 100%;
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: end;
  justify-content: end;
  grid-auto-flow: column;
  grid-gap: 1em;
  padding: 1em 0;
}

/* .MuiFormLabel-root {
  color: black !important;
  opacity: 1 !important;
  font-family: Nunito !important;
} */

.Mui-focused.MuiFormLabel-root {
  color: #0d47a1 !important;
}

.PrivateSwitchBase-input-8 {
  height: 10px !important;
  width: 10px !important;
}

.form-group-label {
  transform: translate(14px, -6px) scale(0.75);
  transform-origin: top left;
  color: black !important;
  opacity: 1 !important;
  font-family: Nunito !important;
  font-weight: 600 !important;
}

.MuiFormLabel-root {
  font-family: Nunito !important;
  font-weight: 600 !important;
}

.selected-color {
  transform: scale(1.4);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.info-group {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1em;
  justify-content: start;
  align-items: center;
  align-content: center;
  padding: 0.5em 0;
  grid-auto-columns: auto 1fr;
  font-size: 1em !important;
}

.info-group.row {
  grid-auto-flow: row;
  align-items: start;
  grid-gap: 0.3em;
}

.info-group.bordered {
  border-bottom: 0.09em solid rgba(0, 0, 0, 0.1);
}

.info-group .label {
  font-weight: 900;
  font-size: 0.7em;
  opacity: 0.5;
}

.info-group .value {
  font-weight: 400 !important;
  font-size: 0.9em;
  /* font-size: 0.95em; */
}

/* .MuiChip-label {
  font-weight: 600 !important;
  font-family: Nunito !important;
  letter-spacing: 0.3pt;
  word-spacing: 0.3pt;
} */

.form-title {
  padding: 0.5em 0;
  border-bottom: 0.1em solid rgba(0, 0, 0, 0.2);
  font-weight: 800;
  font-family: Nunito;
}

.PrivateTabIndicator-root-1 {
  transition: none !important;
}

.table-cell-profile {
  display: grid;
  grid-template-areas: "img title";
  grid-gap: 0.5em;
  align-items: center;
  align-content: center;
  justify-content: start;
  justify-items: start;
}
.table-cell-profile.no-sub {
  grid-template-areas: "img title";
}

.table-cell-profile .image {
  grid-area: img;
  margin-right: 0.5em;
}
.table-cell-profile .title {
  grid-area: title;
  font-size: 1em;
  font-weight: 700;
  border: none;
}

.autocomplete-picture {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1em;
  justify-items: flex-start;
  align-items: center;
  font-size: 0.9em;
}

.error {
  color: red;
  font-size: 1em;
  font-weight: 700;
  display: grid;
  width: 100%;
  padding: 1em;
  text-align: center;
}

/* .MuiChip-label {
  font-weight: 900 !important;
  font-size: 0.87em !important;
  letter-spacing: 0.3pt !important;
  word-spacing: 0.3pt !important;
} */

.title {
  /* padding: 0.3em 0; */
  margin: 0.5em 0;
  opacity: 0.65;
  font-weight: 900;
  font-size: 0.9em;
  /* border-bottom: 0.1em solid rgba(0, 0, 0, 0.1); */
}

.info-group-column {
  display: grid;
  align-items: center;
  align-content: center;
  /* justify-content: start; */
  /* grid-auto-flow: column; */

  padding: 0.5em 0;
}

.info-group-column .label {
  opacity: 0.7;
  font-weight: 900;
  font-size: 0.7em;
  padding: 0.1em 0;
}

.info-group-column .value {
  font-weight: 500;
  font-size: 1em;
  padding: 0.1em 0;
  border-bottom: 0.01em solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

.info-group .value.profile {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.5em;
  font-weight: 500;
  align-items: center;
  align-content: center;
  justify-content: start;
  justify-items: start;
}

canvas {
  background-color: #fff;
}

.stats-item {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  padding: 1.5em 2.5em;
  text-align: center;
}

.stats-item .label {
  /* font-size: 0.9em; */
  opacity: 0.7;
  font-weight: 600;
}

.stats-item .value {
  font-size: 2em;
  font-weight: 900;
}

.sekso-ctnr {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  grid-gap: 1em;
  align-content: start;
  align-items: start;
}

@media only screen and (max-width: 800px) {
  .sekso-ctnr {
    display: grid;
    grid-auto-flow: row;
    justify-content: start;
    grid-gap: 1em;
    align-content: start;
    align-items: start;
  }
}

.sekso-ctnr .sekso-item {
  display: grid;
  grid-template-areas: "img label" "img val" "img graph";
  align-items: start;
  align-content: start;
  padding: 0.5em;
}

.sekso-ctnr .sekso-item .dp {
  grid-area: img;
  height: 150px;
  width: 50px;
  margin-right: 0.5em;
}
.sekso-ctnr .sekso-item .label {
  grid-area: label;
  font-size: 0.9em;
  opacity: 0.6;
  font-weight: 900;
}
.sekso-ctnr .sekso-item .value {
  grid-area: val;
  align-self: start;
  font-weight: 900;
  font-size: 2em;
}

.sekso-ctnr .sekso-item .graph {
  grid-area: graph;
  width: 100px;
}

.Mui-disabled {
  color: #333 !important;
  opacity: 1 !important;
}

.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
  padding: 0.3em 0;
}
