.MuiAlert-message {
  font-size: 0.8em !important;
  font-weight: 600 !important;
}

.MuiButtonBase-root {
  border-radius: 25px !important;
}

.MuiOutlinedInput-root {
  border-radius: 30px !important;
}

.MuiButton-label {
  font-weight: 900 !important;
  font-size: 0.9em !important;
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important;
}
